@page "/"

<h1>Hello, world!</h1>

<SurveyPrompt Title="How is Blazor working for you?" />

<Markdown Extensions="emojis">
    ## Test

    ```
    No language indicated, so no syntax highlighting.
    But let's throw in a <b>tag</b>.
    ```

    Colons can be used to align columns.

    | Tables        | Are           | Cool  |
    |---------------|:-------------:|------:|
    | col 3 is      | right-aligned | $1600 |
    | col 2 is      | centered      |   $12 |
    | zebra stripes | are neat      |    $1 |

    There must be at least 3 dashes separating each header cell. :)

    The outer pipes (|) are optional, and you don't need to make the
    raw Markdown line up prettily. You can also use inline Markdown.

    - line 1
    - line 2
</Markdown>
